
<div id="banner" class="cover_home">
	<h1>Mejora el rendimiento de tus camiones diesel </h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>



<div class="wraper_wide">
<div id="tres">
	<ul>
	<!--  -->
		<li>
			<%= image_tag src="academy.jpg" %>	
			<h3>Calcula tu ahorro</h3>
			<p>Conoce más></p>			
		</li>
<!--  -->

		<li>
			<%= image_tag src="academy.jpg" %>
			<h3>Gestión de Flotas</h3>
			<p>Conoce más></p>			
		</li>
<!--  -->
		<li>
			<%= image_tag src="academy.jpg" %>
			<h3>Taller de Diesel</h3>
			<p>Conoce más></p>			
		</li>
<!--  -->
	</ul>
</div>
</div>



<!--  -->

<div id="lateral" class="wraper_wide">

	<div id="izq">
		<%= image_tag src="academy.jpg" %>
	</div>
	
	<div id="der">
		<h4>Lo que no se mide, no se controla. Lo que no se controla, no se mejora.</h4>
		<p>Comienza a medir el rendimiento de tu flotilla de camiones diesel para conocer qué tan bien o mal son utilizados. Controla el rendimiento a través de nuestro sistema de gestión de flotillas para ir mejorando, poco a poco, paso a paso</p>
	</div>
<div class="clear"></div>

</div>
	<!--  -->

<div id="lateral" class="wraper_wide">
	<div id="izq">
		<h4>Nadie como nosotros</h4>
		<p>Hemos desarrollado, gracias a nuestra experiencia en el manejo de flotillas, una metodología propia que te enseñaremos para que la gestión de tus camiones deje de ser un peso y comience a ser una de las mejores partes de tu empresa</p>
	</div>
	<div id="der">
		<%= image_tag src="academy.jpg" %>
	</div>
	

<div class="clear"></div>

</div>	

<div class="wraper_super_skiny">
<div id="nume">

<ul>
	<li>
		<h5>31</h5>
		<hr>
		<h6>kms recorridos</h6>
	</li>

		<li>
		<h5>150</h5>
		<hr>
		<h6>litros ahorrados</h6>
	</li>

		<li>
		<h5>$200,000</h5>
		<hr>
		<h6>pesos ahorrados</h6>
	</li>

</ul>

</div>
</div>

