
<div id="banner" class="cover_home">
	<h1>Mejora el rendimiento de tus camiones diesel </h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>



<div class="wraper_wide">
<div id="tres">
	<ul>
	<!--  -->
		<li>
			<%= image_tag src="academy.jpg" %>	
			<h3>Calcula tu ahorro</h3>
			<p>Conoce más></p>			
		</li>
<!--  -->

		<li>
			<%= image_tag src="academy.jpg" %>
			<h3>Gestión de Flotas</h3>
			<p>Conoce más></p>			
		</li>
<!--  -->
		<li>
			<%= image_tag src="academy.jpg" %>
			<h3>Taller de Diesel</h3>
			<p>Conoce más></p>			
		</li>
<!--  -->
	</ul>
</div>
</div>



<!--  -->

<div id="lateral" class="wraper_wide">

	<div id="izq">
		<%= image_tag src="academy.jpg" %>
	</div>
	
	<div id="der">
		<h4>Titulo del apartado</h4>
		<p>Hola de nuevo, aquí estamos juntos para jugar, este es un texto de prueba para que podamo seguir intentando las cosas que no se ven pero es lo mas importante que hace unos diez años puede que pase ya sea por la gente que viene o por la que a veces siente necesidad de doctor como hace años que le dije al vecino de mi tia que puede ser que la vida me guie hasta el sol, puede que el año nuevo sea mejor</p>
	</div>
<div class="clear"></div>

</div>
	<!--  -->

<div id="lateral" class="wraper_wide">
	<div id="izq">
		<h4>Titulo del apartado</h4>
		<p>Hola de nuevo, aquí estamos juntos para jugar, este es un texto de prueba para que podamo seguir intentando las cosas que no se ven pero es lo mas importante que hace unos diez años puede que pase ya sea por la gente que viene o por la que a veces siente necesidad de doctor como hace años que le dije al vecino de mi tia que puede ser que la vida me guie hasta el sol, puede que el año nuevo sea mejor</p>
	</div>
	<div id="der">
		<%= image_tag src="academy.jpg" %>
	</div>
	

<div class="clear"></div>

</div>	

<div class="wraper_super_skiny">
<div id="nume">

<ul>
	<li>
		<h5>31</h5>
		<hr>
		<h6>kms recorridos</h6>
	</li>

		<li>
		<h5>150</h5>
		<hr>
		<h6>litros ahorrados</h6>
	</li>

		<li>
		<h5>$200,000</h5>
		<hr>
		<h6>pesos ahorrados</h6>
	</li>

</ul>

</div>
</div>

