
<div id="banner" class="cover_home">
	<h1>Mejora el rendimiento de tus camiones diesel </h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>



<div class="wraper_wide">
<div id="tres">
	<ul>
		<li>
			<%= image_tag src="gestion2.jpg" %>
			<h3>Gestión de Flotas</h3>
			<p><%= link_to "Conoce más >", gestion_de_flotas_path %></p>			
		</li>
<!--  -->
		<li>
			<%= image_tag src="taller2.jpg" %>
			<h3>Taller de Diesel</h3>
			<p><%= link_to "Conoce más >", taller_de_diesel_path %></p>			
		</li>
<!--  -->

	<!--  -->
		<li>
			<%= image_tag src="ahorro2.jpg" %>	
			<h3>Calcula tu ahorro</h3>
			<p><%= link_to "Conoce más >", calcula_tu_ahorro_path %></p>			
		</li>
<!--  -->
	</ul>
</div>
</div>

<div class="container">
<div class="row">
<div id="texto" class="col-md-8 col-md-offset-2">
	<p>Con nuestro servicio mecánico, nuestros clientes tienen la seguridad y garantía que están trabajando con ingenieros profesionales en Diésel. Además de contar con el respaldo de un servicio que estará disponible las 24 horas los 365 días del año, en caso de cualquier eventualidad</p>
</div>
</div>
</div>

<div class="container">
<div class="col-md-6">
	<%= image_tag src="control.jpg" %>
</div>

	<div class="col-md-6">
	<h3><strong>LO QUE NO SE MIDE, NO SE CONTROLA. LO QUE NO SE CONTROLA, NO SE MEJORA</strong></h3>
	<p class="just">Comienza a medir el rendimiento de tu flotilla de camiones diesel para conocer qué tan bien o mal son utilizados. Controla el rendimiento a través de nuestro sistema de gestión de flotillas para ir mejorando, poco a poco, paso a paso</p>
	</div>
</div>

<div class="row">
<div id="texto" class="col-md-8 col-md-offset-2">
	<p></p>
</div>
</div>


<div class="container">
<div class="col-md-6">
		<h3><strong>NADIE COMO NOSOTROS</strong></h3>
	<p class="just">Hemos desarrollado, gracias a nuestra experiencia en el manejo de flotillas, una metodología propia que te enseñaremos para que la gestión de tus camiones deje de ser un peso y comience a ser una de las mejores partes de tu empresa</p>
	
</div>

	<div class="col-md-6">
		<%= image_tag src="fleet.jpg", :class =>"fot" %>
	</div>
</div>




<div class="wraper_super_skiny">
<div id="nume">

<ul>
	<li>
		<h5>31</h5>
		<hr>
		<h6>kms recorridos</h6>
	</li>

		<li>
		<h5>150</h5>
		<hr>
		<h6>litros ahorrados</h6>
	</li>

		<li>
		<h5>$200,000</h5>
		<hr>
		<h6>pesos ahorrados</h6>
	</li>

</ul>

</div>
</div>

