<div id="banner" class="cover_gestion">
	<h1>Gestión de Flotas</h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>

<section>
	<div class="wraper_super_wide">
	<div id="servicios">
		<div class="servicio">
			<span class="fa fa-file-text-o" aria-hidden="true"></span>
			<h3>Diagnóstico</h3>
			<p>Analizamos la situación actual de tu flota y definimos entregables y estrategia a seguir. </p>
		</div>

				<div class="servicio">
				<span class="fa fa-pencil-square-o" aria-hidden="true"></span>
			<h3>Diseño</h3>
			<p>Mapeamos y planeamos las acciones a la medida para optimizar el beneficio de tu flota</p>
		</div>

				<div class="servicio">
				<span class="fa fa-cogs" aria-hidden="true"></span>
			<h3>Capacitación</h3>
			<p>Nos aseguramos que a todo tu personal le quede absolutamente claro el por qué del proyecto y el cómo lo vamos a conseguir.</p>
		</div>

				<div class="servicio">
				<span class="fa fa-briefcase" aria-hidden="true"></span>
			<h3>Implementación</h3>
			<p>Hombro a hombro con tu personal se ejectuan las acciones diseñadas. Hasta lograr un beneficio demostrable económicamente.</p>
		</div>

				<div class="servicio">
				<span class="fa fa-hand-o-right" aria-hidden="true"></span>
			<h3>Seguimiento</h3>
			<p>Auditorias continuas para garantizar  que todo el proyecto siga generando beneficios.
</p>
		</div>


	</div>
</section>

<!--  -->

<div class="margen"></div>

<div class="container">
<div class="col-md-6">
	<%= image_tag src="control.jpg" %>
</div>

	<div class="col-md-6">
	<h3 class="tit"><strong>LA CLAVE ESTÁ EN EL SISTEMA</strong></h3>
	<p class="just">Estamos tan seguros de que el sistema funciona que te lo garantizamos por escrito. Pero claro, como todo, la teoría por sí sola no funciona, te ayudamos a que la ejecución de cada paso sea la adecuada a tus circunstancias particulares para lograr el mayor impacto posible</p>
	</div>
</div>
	
<div class="container">
<div class="col-md-6 col-md-offset-3">
<div id="form">
<div class="row">

	<%= form_for @contact do |f| %>
		<%= f.label :name %><br>
		<%= f.text_field :name, required: true %>

		<br>

		<%= f.label :email %><br>
		<%= f.email_field :email, required: true %>

		<br>

		<%= f.label :message %><br>
		<%= f.text_area :message, as: :text, class:"contacto_area" %>

		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
		</div>

<br>
<br>
		<%= f.submit 'Enviar mensaje', class: "button button_red button_block" %>
	<% end %>

</div>	
</div>
</div>
</div>