<div id="banner" class="cover_home">
	<h1>Gestión de Flotas</h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>

<section>
	<div class="wraper_super_wide">
	<div id="servicios">
		<div class="servicio">
			<h3>Diagnóstico</h3>
			<p>Analizamos la situación actual de tu flota y definimos entregables y estrategia a seguir. </p>
		</div>

				<div class="servicio">
			<h3>Diseño</h3>
			<p>Elaboramos mapear o planear las acciones hechas a la medida de tu flota para conseguir o alcanzar los beneficios</p>
		</div>

				<div class="servicio">
			<h3>Capacitación</h3>
			<p>Nos aseguramos que a todo tu personal le quede absolutamente claro el por qué del proyecto y el cómo lo vamos a conseguir.</p>
		</div>

				<div class="servicio">
			<h3>Implementación</h3>
			<p>Hombro a hombro con tu personal se ejectuan las acciones diseñadas. Hasta lograr un beneficio demostrable económicamente.</p>
		</div>

				<div class="servicio">
			<h3>Seguimiento</h3>
			<p>Auditorias continuas para garantizar  que todo lo elaborado siga generando beneficios continuos. 
</p>
		</div>


	</div>
</section>

<!--  -->

<div id="lateral" class="wraper_wide">

	<div id="izq">
		<%= image_tag src="academy.jpg" %>
	</div>
	
	<div id="der">
		<h4>Titulo del apartado</h4>
		<p>Hola de nuevo, aquí estamos juntos para jugar, este es un texto de prueba para que podamo seguir intentando las cosas que no se ven pero es lo mas importante que hace unos diez años puede que pase ya sea por la gente que viene o por la que a veces siente necesidad de doctor como hace años que le dije al vecino de mi tia que puede ser que la vida me guie hasta el sol, puede que el año nuevo sea mejor</p>
	</div>
<div class="clear"></div>

</div>
	<!--  -->
	
<div id="form">
<div class="wraper_super_skiny">

	<%= form_for @contact do |f| %>
		<%= f.label :name %><br>
		<%= f.text_field :name, required: true %>

		<br>

		<%= f.label :email %><br>
		<%= f.email_field :email, required: true %>

		<br>

		<%= f.label :message %><br>
		<%= f.text_area :message, as: :text, class:"contacto_area" %>

		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
		</div>

<br>
<br>
		<%= f.submit 'Enviar mensaje', class: "button button_red button_block" %>
	<% end %>
	
</div>
</div>