<div id="banner" class="cover_taller">
	<h1>Taller de Diesel</h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>

<div class="row">
<div id="texto" class="col-md-8 col-md-offset-2">
	<p>Con nuestro servicio mecánico, nuestros clientes tienen la seguridad y garantía que están trabajando con ingenieros profesionales en Diésel. Además de contar con el respaldo de un servicio que estará disponible las 24 horas los 365 días del año, en caso de cualquier eventualidad</p>
</div>
</div>

<br>


<section>
	<div class="wraper_super_wide">
	<div id="servicios2">
		
		<div class="row">
		<div class="servicio2">
			<p>Técnicos expertos, especializados en motores diésel, y sistemas de unidades de carga</p>
		</div>

				<div class="servicio2">
			<p>Mantenimiento preventivo y correctivo</p>
		</div>

				<div class="servicio2">
			<p>Escaneo de unidades cualquier marca</p>
		</div>

				<div class="servicio2">
			<p>Equipo de técnicos móvil: para acudir a realizar servicios donde lo requiera el cliente</p>
		</div>
	</div>

	<div class="row">
				<div class="servicio2">
			<p>Auxilio en camino (contamos con una flota de gruas)</p>
		</div>

						<div class="servicio2">
			<p>Diagnóstico e información de reparaciones documentada</p>
		</div>

						<div class="servicio2">
			<p>Entrega de refacciones remplazadas</p>
		</div>

						<div class="servicio2">
			<p>Garantía de servicio firmada y por escrito. </p>
		</div>
	</div>
	</div>
</section>

<!--  -->


<div class="container">
<div class="col-md-6">
	<%= image_tag src="lock.jpg", :class =>"fot" %>
</div>

	<div class="col-md-6">
	<h3><strong>EL DE MÁS CONFIANZA</strong></h3>
	<p>Sabemos lo difícil que es encontrar un taller de confianza en el que no te vean la cara en el diagnóstico y te cobren lo que en verdad trabajaron. Te ofrecemos uno de los mejores talleres de motores diesel para que tu flotilla siempre esté “a punto”</p>
	</div>
</div>


<div id="form">
<div class="wraper_super_skiny">

	<%= form_for @contact do |f| %>
		<%= f.label :name %><br>
		<%= f.text_field :name, required: true %>

		<br>

		<%= f.label :email %><br>
		<%= f.email_field :email, required: true %>

		<br>

		<%= f.label :message %><br>
		<%= f.text_area :message, as: :text, class:"contacto_area" %>

		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
		</div>

<br>
<br>
		<%= f.submit 'Enviar mensaje', class: "button button_red button_block" %>
	<% end %>
	
</div>
</div>