<div id="banner" class="cover_taller">
	<h1>Taller de Diesel</h1>
	<h3>Ahorra. Diseña. Aprende</h3>
</div>

<div class="container">
<div class="row">
<div id="texto" class="col-md-8 col-md-offset-2">
	<p>Con nuestro servicio mecánico, nuestros clientes tienen la seguridad y garantía que están trabajando con ingenieros profesionales en Diésel. Además de contar con el respaldo de un servicio que estará disponible las 24 horas los 365 días del año, en caso de cualquier eventualidad</p>
</div>
</div>
</div>

<br>


<div class="container">
<div class="titulos">
	<h1>Nuestra oferta de valor</h1>
</div>
</div>

<section>
	<div class="wraper_super_wide">
	<div id="servicios2">
		
		<div class="row">
		<div class="servicio2">
			<span class="fa fa-shield" aria-hidden="true"></span>
			<p>Técnicos expertos, especializados en motores diésel, y sistemas de unidades de carga</p>
		</div>

				<div class="servicio2">
			<span class="fa fa-spinner" aria-hidden="true"></span>
			<p>Mantenimiento preventivo y correctivo</p>
		</div>

				<div class="servicio2">
			<span class="fa fa-first-order" aria-hidden="true"></span>
			<p>Escaneo de unidades cualquier marca</p>
		</div>

				<div class="servicio2">
			<span class="fa fa-cog" aria-hidden="true"></span>
			<p>Equipo de técnicos móvil: para acudir a realizar servicios donde lo requiera el cliente</p>
		</div>
	</div>

	<div class="row">
				<div class="servicio2">
			<span class="fa fa-road" aria-hidden="true"></span>
			<p>Auxilio en camino (contamos con una flota de gruas)</p>
		</div>

						<div class="servicio2">
			<span class="fa fa-file-text" aria-hidden="true"></span>
			<p>Diagnóstico e información de reparaciones documentada</p>
		</div>

						<div class="servicio2">
			<span class="fa fa-archive" aria-hidden="true"></span>
			<p>Entrega de refacciones remplazadas</p>
		</div>

						<div class="servicio2">
			<span class="fa fa-certificate" aria-hidden="true"></span>
			<p>Garantía de servicio firmada y por escrito. </p>
		</div>
	</div>
	</div>
</section>

<!--  -->


<div class="container">
<div class="col-md-6">
	<%= image_tag src="lock.jpg", :class =>"fot" %>
</div>

	<div class="col-md-6">
	<h3 class="tit"><strong>EL DE MÁS CONFIANZA</strong></h3>
	<p class="just">Sabemos lo difícil que es encontrar un taller de confianza en el que no te vean la cara en el diagnóstico y te cobren lo que en verdad trabajaron. Te ofrecemos uno de los mejores talleres de motores diesel para que tu flotilla siempre esté “a punto”</p>
	</div>
</div>



	<div class="container">
	<div class="col-md-6 col-md-offset-3" id="form">
	<%= form_for @contact do |f| %>
		<%= f.label :name %><br>
		<%= f.text_field :name, required: true %>

		<br>

		<%= f.label :email %><br>
		<%= f.email_field :email, required: true %>

		<br>

		<%= f.label :message %><br>
		<%= f.text_area :message, as: :text, class:"contacto_area" %>

		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
		</div>

<br>
<br>
		<%= f.submit 'Enviar mensaje', class: "button button_red button_block" %>
	<% end %>
	</div>
	</div>
