<div id="banner" class="cover_contact">
	<h1>Contáctanos Ahora </h1>
</div>

<div class="container">
<div class="row">
<div id="texto" class="col-md-8 col-md-offset-2">
	<p>Con nuestro servicio mecánico, nuestros clientes tienen la seguridad y garantía que están trabajando con ingenieros profesionales en Diésel. Además de contar con el respaldo de un servicio que estará disponible las 24 horas los 365 días del año, en caso de cualquier eventualidad <br>Si tienes alguna duda o comentario en particular no dudes en escribirnos. Uno de nuestros consultores se comunicará contigo en las próximas 48 horas.
</p>
</div>
</div>
</div>


	<div class="container">
	<div class="col-md-6 col-md-offset-3" id="form">
	<%= form_for @contact do |f| %>
		<%= f.label :nombre %><br>
		<%= f.text_field :name, required: true %>

		<br>


		<%= f.label :email %><br>
		<%= f.email_field :email, required: true %>

		<br>

		<%= f.label :mensaje %><br>
		<%= f.text_area :message, as: :text, class:"contacto_area" %>

		<div class="hidden">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
		</div>

<br>
<br>
		<%= f.submit 'Enviar mensaje', class: "button button_red button_block" %>
	<% end %>
	</div>
	</div>